.row, .col-8, .col-4{
    padding: 0;
    margin: 0;
}

// .map-page{
//     display: flex;
//     margin: 30px;
// }

.main-map {
    height: 100%;
    width: 100%;
    margin-right: 20px;

}

.marker-info{
    margin: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
}


.map-row{
    height: 100%;
}


.main-block{
    flex: 1 1 auto ;
}



.slider-block{
    width: 100%;
    height: 180px;
    background: #789C55;
}

.slider-block__init{
    width: 90%;
    left: 5%;
    position: absolute;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
}

img{
    height: 160px;
    width: 240px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.slick-slider{
    display: initial;   
    position: initial;
}

.map-page{
    height:calc( 100vh - 100px);
  width: 100%;
  display: flex;
  flex-flow: column;
}