<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">DotNetGigs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
   
    <ul *ngIf="status" class="navbar-nav mr-auto">
      <li class="nav-item">
         <a class="nav-link" (click)="logout()" href="#">Logoff</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a> 
      </li>         
    </ul>

  <ul *ngIf="!status" class="nav navbar-nav">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/register">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
  </li>
  </ul> 
  </div>
</nav> -->
<div class="header-block">
  <div class="header-block__title"> НАДЗВИЧАЙНІ СИТУАЦІХ НА ТЕРИТОРІЇ УКРАЇНИ </div>
  <button (click)="router.navigate(['/login'])" class="header-block__login-btn"><span>LOG IN</span></button>
</div>
<div class="row">
  <div class="main-block__options-panel">
    <div class="row main-block__options-panel_select-btn_holder">

      <div class="col" *ngIf="_isMapShown">
        <select (change)="selectorsService.typeChanged($event)" class="main-block__options-panel_select-btn __type">
          <option>ВСІ</option>
          <option [selected]="selectorsService.currentEmergencyTypeId == 1">ТЕХНОГЕННОГО</option>
          <option [selected]="selectorsService.currentEmergencyTypeId == 2">ПРИРОДНОГО</option>
          <option [selected]="selectorsService.currentEmergencyTypeId == 3">СОЦІАЛЬНО-ПОЛІТИЧНОГО</option>
          <option [selected]="selectorsService.currentEmergencyTypeId == 4">ВІЙСЬКОВОГО</option>
        </select>
        <select  (change)="selectorsService.yearChanged($event)"  class="main-block__options-panel_select-btn __year">
          <option>ВСІ</option>
          <ng-container *ngIf="selectorsService.dates$ | async as dates">
            <ng-container *ngFor="let date of dates">
              <option  [selected]="selectorsService.currentEventYear == date">{{date}}</option>
            </ng-container>
          </ng-container>
        </select>
      </div>
      <div class="col" *ngIf="_isMapShown || _isTablesShown">
        <div class="tabs-header">
          <button (click)="_shooseMap()" class="tab-label" [ngClass]="{'active': _isMapShown}">КАРТА</button>
          <button (click)="_shooseTables()" class="tab-label" [ngClass]="{'active': _isTablesShown}">ТАБЛИЦІ</button>
        </div>
        <!-- <app-tabs>
          <app-tab-item>
            <app-tab-label>First tab</app-tab-label>
            <app-tab-body>
              IO am first content
            </app-tab-body>
          </app-tab-item>
          <app-tab-item>
            <app-tab-label>second tab</app-tab-label>
            <app-tab-body>
              I am second Content
            </app-tab-body>
          </app-tab-item>
          <app-tab-item label="third tab">
            <app-tab-label>third</app-tab-label>
            <app-tab-body>
              I am third content
            </app-tab-body>
          </app-tab-item>
        </app-tabs> -->
      </div>
    </div>
  </div>
</div>