<div class="table-block">
    <div class="table-block__title"> Довідкові дані щодо кількості класифікованих ситуацій з початку року:</div>
    <div class=" table-block__table">
        <div class="row">
            <div class="col-1 table-item __header"> Всього НС</div>
            <div class="col-7">
                <div class="row table-item __header"> Характер НС</div>
                <div class="row">
                    <div class="col-3 table-item __header">техногенний</div>
                    <div class="col-3 table-item __header">природний</div>
                    <div class="col-3 table-item __header">соціальний</div>
                    <div class="col-3 table-item __header">військовий</div>
                </div>
            </div>
            <div class="col-2 table-item __header">Загинуло, осіб</div>
            <div class="col-2 table-item __header">Постраждало, осіб</div>
        </div>

        <div class="row">
            <div class="col-1 table-item __content"> </div>
            <div class="col-7">
                <div class="row table-item __content"> </div>
                <div class="row">
                    <div class="col-3 table-item __content"></div>
                    <div class="col-3 table-item __content"></div>
                    <div class="col-3 table-item __content"></div>
                    <div class="col-3 table-item __content"></div>
                </div>
            </div>
            <div class="col-2 table-item __content"></div>
            <div class="col-2 table-item __content"></div>
        </div>
    </div>
</div>
<div class="table-block">
    <div class="table-block__title">
        <div class="row" style="width: 100%;">
            <div class="col-5">Надзвичайні ситуації:</div>
            <div class="col-4"> Характер НС: 
                <select class="tables__options-panel_select-btn __type">
                    <option>техтогенний</option>
                    <option>природний</option>
                    <option>соціальний</option>
                    <option>військовий</option>
                  </select>
            </div>
            <div class="col-3"> 
                Рік:
                <select class="tables__options-panel_select-btn __year">
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                  </select>
            </div>
        </div>
    </div>
    <div class=" table-block__table">
        <div class="row">
            <div class="col-2 table-item __header"> Код НС</div>
            <div class="col-2 table-item __header"> Дата</div>
            <div class="col-3 table-item __header"> Місце, де виникла НС</div>
            <div class="col-3 table-item __header"> Збитки</div>
            <div class="col-2 table-item __header"> Вартість ліквідації</div>
        </div>
        <div class="row">
            <div class="col-2 table-item __content"></div>
            <div class="col-2 table-item __content"></div>
            <div class="col-3 table-item __content"></div>
            <div class="col-3 table-item __content"></div>
            <div class="col-2 table-item __content"></div>
        </div>
    </div>


</div>