<div class="table-block">
    <div class="table-block__title"> Довідкові дані щодо кількості класифікованих ситуацій з початку року:</div>
    <div class=" table-block__table">
        <div class="row">
            <div class="col-1 table-item __header"> Всього НС</div>
            <div class="col-7">
                <div class="row table-item __header"> Характер НС</div>
                <div class="row">
                    <div class="col-3 table-item __header">техногенний</div>
                    <div class="col-3 table-item __header">природний</div>
                    <div class="col-3 table-item __header">соціальний</div>
                    <div class="col-3 table-item __header">військовий</div>
                </div>
            </div>
            <div class="col-2 table-item __header">Загинуло, осіб</div>
            <div class="col-2 table-item __header">Постраждало, осіб</div>
        </div>
        <ng-container *ngIf="statistic$ | async as statistic">

            <div class="row">
                <div class="col-1 table-item __content">{{statistic.eventsNumber}}</div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-3 table-item __content">{{statistic.technogenicNumber}}</div>
                        <div class="col-3 table-item __content">{{statistic.naturalNumber}}</div>
                        <div class="col-3 table-item __content">{{statistic.socialNumber}}</div>
                        <div class="col-3 table-item __content">{{statistic.militaryNumber}}</div>
                    </div>
                </div>
                <div class="col-2 table-item __content">{{statistic.deathsCount}}</div>
                <div class="col-2 table-item __content">{{statistic.harmedCount}}</div>
            </div>
        </ng-container>
    </div>
</div>
<div class="table-block">
    <div class="table-block__title">
        <div class="row" style="width: 100%;">
            <div class="col-5">Надзвичайні ситуації:</div>
            <div class="col-4"> Характер НС:
                <select (change)="selectorsService.typeChanged($event)" class="main-block__options-panel_select-btn __type">
                    <option [selected]="selectorsService.currentEmergencyTypeId == 1">техногенного</option>
                    <option [selected]="selectorsService.currentEmergencyTypeId == 2">природного</option>
                    <option [selected]="selectorsService.currentEmergencyTypeId == 3">соціально-політичного</option>
                    <option [selected]="selectorsService.currentEmergencyTypeId == 4">військового</option>
                </select>
            </div>
            <div class="col-3">
                Рік:
                <select (change)="selectorsService.yearChanged($event)" class="main-block__options-panel_select-btn __year">
                    <option>всі</option>
                    <ng-container *ngIf="selectorsService.dates$ | async as dates">
                        <ng-container *ngFor="let date of dates">
                            <option  [selected]="selectorsService.currentEventYear == date">{{date}}</option>
                        </ng-container>
                    </ng-container>
                </select>
            </div>


        </div>
    </div>
    <div class=" table-block__table">
        <div class="row">
            <div class="col-3 table-item __header"> Назва НС</div>
            <div class="col-2 table-item __header"> Дата</div>
            <div class="col-3 table-item __header"> Місце, де виникла НС</div>
            <div class="col-2 table-item __header"> Збитки</div>
            <div class="col-2 table-item __header"> Вартість ліквідації</div>
        </div>
        <ng-container *ngIf="eventService.events | async as events">
            <ng-container *ngFor="let event of events">
                <div class="row">
                    <div class="col-3 table-item __content">{{event.eventName}}</div>
                    <div class="col-2 table-item __content">{{event.date | date}}</div>
                    <div class="col-3 table-item __content">{{event.eventPosition.place}}</div>
                    <div class="col-2 table-item __content">{{event.losses || 0}}</div>
                    <div class="col-2 table-item __content">{{event.costs || 0}}</div>
                </div>
            </ng-container>
        </ng-container>

    </div>

</div>